@font-face {
  font-family: "wicon"; /* Project id 4142464 */
  /* Color fonts */
  src: 
       url('~@/static/wicon/iconfont.woff2?t=1689748622410') format('woff2'),
       url('~@/static/wicon/iconfont.woff?t=1689748622410') format('woff'),
       url('~@/static/wicon/iconfont.ttf?t=1689748622410') format('truetype');
}

.wicon {
  font-family: "wicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shebeipaibi:before {
  content: "\e6b1";
}

.icon-liwu:before {
  content: "\e613";
}

.icon-fahongbao:before {
  content: "\e605";
}

.icon-zhanghuyue:before {
  content: "\e609";
}

.icon-iconfontzhizuobiaozhunbduan36:before {
  content: "\e6e9";
}

.icon-weixinzhifu:before {
  content: "\e639";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-xiaochengxu:before {
  content: "\e63b";
}

.icon-zhifubao:before {
  content: "\e608";
}

.icon-QQkongjian:before {
  content: "\e634";
}

