@font-face {
  font-family: "myicon"; /* Project id 3810108 */
  src: url('iconfont.woff2?t=1690004746196') format('woff2'),
       url('iconfont.woff?t=1690004746196') format('woff'),
       url('iconfont.ttf?t=1690004746196') format('truetype');
}

.myicon {
  font-family: "myicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinhangka:before {
  content: "\e643";
}

.icon-ditu:before {
  content: "\e8ad";
}

.icon-qiandao:before {
  content: "\e648";
}

.icon-shengrix:before {
  content: "\e634";
}

.icon-zuanshi_o:before {
  content: "\eb70";
}

.icon-weixuanzhong:before {
  content: "\e638";
}

.icon-danxuan-xuanzhong:before {
  content: "\e696";
}

.icon-danxuanxuanzhong:before {
  content: "\e63a";
}

.icon-jia:before {
  content: "\e632";
}

.icon-cuowu:before {
  content: "\e633";
}

.icon-sousuoleimufill:before {
  content: "\e753";
}

.icon-jianshao2:before {
  content: "\e8c5";
}

.icon-excel-full:before {
  content: "\ea45";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-caidanshouqi:before {
  content: "\e623";
}

.icon-caidanzhankai:before {
  content: "\e631";
}

.icon-new:before {
  content: "\e630";
}

.icon-c002dianhua:before {
  content: "\e61d";
}

.icon-c172guanbimaikefeng:before {
  content: "\e61f";
}

.icon-c164zanting:before {
  content: "\e622";
}

.icon-caozuo-baocun:before {
  content: "\e619";
}

.icon-jiance-tiaoxingma:before {
  content: "\e61a";
}

.icon-tongzhi-xiangling:before {
  content: "\e61c";
}

.icon-a-cheliangbaoxian2:before {
  content: "\e627";
}

.icon-a-gongzuoduban2:before {
  content: "\e628";
}

.icon-a-cheliangnianjian2:before {
  content: "\e629";
}

.icon-a-dubanrenwu2:before {
  content: "\e62a";
}

.icon-a-gangweishili2:before {
  content: "\e62e";
}

.icon-shenhe:before {
  content: "\e615";
}

.icon-pdf:before {
  content: "\e616";
}

.icon-huchu-mian:before {
  content: "\e618";
}

.icon-kaiguan:before {
  content: "\e612";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-suoding:before {
  content: "\e6e6";
}

.icon-xingzhuang-tupian:before {
  content: "\eb98";
}

.icon-miwen:before {
  content: "\ebe3";
}

.icon-tupianjiazaishibai:before {
  content: "\ec0d";
}

.icon-zitiyulan:before {
  content: "\ec86";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-aixin:before {
  content: "\eca2";
}

.icon-delete-filling:before {
  content: "\e689";
}

.icon-success-filling:before {
  content: "\e68b";
}

.icon-add-location:before {
  content: "\e91a";
}

.icon-bottom-left:before {
  content: "\e91b";
}

.icon-back:before {
  content: "\e91c";
}

.icon-bottom:before {
  content: "\e91d";
}

.icon-bottom-right:before {
  content: "\e91e";
}

.icon-chat-dot-round:before {
  content: "\e91f";
}

.icon-chat-line-round:before {
  content: "\e920";
}

.icon-data-line:before {
  content: "\e921";
}

.icon-delete-location:before {
  content: "\e922";
}

.icon-folder-add:before {
  content: "\e923";
}

.icon-folder-delete:before {
  content: "\e924";
}

.icon-microphone:before {
  content: "\e925";
}

.icon-s-custom:before {
  content: "\e926";
}

.icon-remove:before {
  content: "\e927";
}

.icon-shangsheng:before {
  content: "\e60f";
}

.icon-duihuanqingkuang:before {
  content: "\e708";
}

.icon-you-yuan:before {
  content: "\e7c8";
}

.icon-fuzhi:before {
  content: "\e8b0";
}

.icon-jianshao:before {
  content: "\e8b1";
}

.icon-round_delete:before {
  content: "\e636";
}

.icon-xiangshang-yuan:before {
  content: "\e656";
}

.icon-xiangxia-yuan:before {
  content: "\e657";
}

.icon-xiangzuo-yuan:before {
  content: "\e658";
}

.icon-three-people:before {
  content: "\e64c";
}

.icon-report:before {
  content: "\e655";
}

.icon-door:before {
  content: "\e65f";
}

.icon-brand:before {
  content: "\e660";
}

.icon-security:before {
  content: "\e662";
}

.icon-quality:before {
  content: "\e663";
}

.icon-choose:before {
  content: "\e66a";
}

.icon-second:before {
  content: "\e66b";
}

.icon-third:before {
  content: "\e66c";
}

.icon-first:before {
  content: "\e66d";
}

.icon-print:before {
  content: "\e670";
}

.icon-fenxiang1:before {
  content: "\e626";
}

.icon-fenxiang-:before {
  content: "\e713";
}

.icon-haoyou:before {
  content: "\e60d";
}

.icon-gerenzhongxin:before {
  content: "\e70b";
}

.icon-jiudian:before {
  content: "\e642";
}

.icon-daimashili:before {
  content: "\e62d";
}

.icon-daifahuo:before {
  content: "\e609";
}

.icon-qiandao0101:before {
  content: "\e617";
}

.icon-yizhifu:before {
  content: "\e60c";
}

.icon-shenfenzheng:before {
  content: "\e64d";
}

.icon-huiyuan:before {
  content: "\e641";
}

.icon-zhuanjifenshimingrenzheng:before {
  content: "\e68a";
}

.icon-yly_jifenshangcheng:before {
  content: "\e611";
}

.icon-huiyuan1:before {
  content: "\e8a6";
}

.icon-tuikuan:before {
  content: "\e8ab";
}

.icon-lingquanzhongxin:before {
  content: "\e8e7";
}

.icon-yiwancheng:before {
  content: "\e720";
}

.icon-daifukuan:before {
  content: "\e62b";
}

.icon-touxiang:before {
  content: "\e6de";
}

.icon-daishouhuo:before {
  content: "\e613";
}

.icon-zhibo:before {
  content: "\e74f";
}

.icon-shanghupiliangruzhu:before {
  content: "\e62c";
}

.icon-xiangxia2:before {
  content: "\e772";
}

.icon-xiangshang2:before {
  content: "\e76e";
}

.icon-jixuduihuan:before {
  content: "\e672";
}

.icon-duihuan:before {
  content: "\e675";
}

.icon-qrcode-1-copy:before {
  content: "\e614";
}

.icon-paixingbang:before {
  content: "\e6c5";
}

.icon-youhuijuan:before {
  content: "\e899";
}

.icon-duihuan1:before {
  content: "\e60e";
}

.icon-liebiao:before {
  content: "\e605";
}

.icon-danlieliebiao:before {
  content: "\e6e4";
}

.icon-liebiao1:before {
  content: "\e607";
}

.icon-liebiao2:before {
  content: "\e88f";
}

.icon-xiazai:before {
  content: "\e610";
}

.icon-shangchuantupian:before {
  content: "\e61e";
}

.icon-rizhi:before {
  content: "\e7c3";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-yuebao:before {
  content: "\e624";
}

.icon-bangzhu:before {
  content: "\e620";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-duihua:before {
  content: "\e710";
}

.icon-shanchu1:before {
  content: "\e66f";
}

.icon-jian:before {
  content: "\e650";
}

.icon-fenlei1:before {
  content: "\e621";
}

.icon-sousuo:before {
  content: "\e635";
}

.icon-banben:before {
  content: "\e60a";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-meiyoushuju:before {
  content: "\e60b";
}

.icon-bianji:before {
  content: "\e603";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-yuanxingxuanzhong:before {
  content: "\e731";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-fenxiang:before {
  content: "\e604";
}

.icon-shanchu:before {
  content: "\e8c1";
}

.icon-zengjia:before {
  content: "\e640";
}

.icon-yue:before {
  content: "\e606";
}

.icon-zengjia1:before {
  content: "\e8c0";
}

.icon-gengduo:before {
  content: "\e600";
}

.icon-dianhua:before {
  content: "\e61b";
}

.icon-31shoucangxuanzhong:before {
  content: "\e601";
}

.icon-31fanerxuanzhong:before {
  content: "\e602";
}

.icon-wode:before {
  content: "\e66e";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-shouye:before {
  content: "\e64f";
}

