<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qq811565456.mapper.SysTokenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qq811565456.model.SysToken">
        <id column="token_id" property="tokenId" />
        <result column="token" property="token" />
        <result column="add_time" property="addTime" />
        <result column="ip" property="ip" />
        <result column="token_user_id" property="tokenUserId" />
    </resultMap>

</mapper>
